@{
    ViewBag.Title = "Home Page";
}

<header>
    <form action="/Article">
        <textarea class="content" id="content" name="url"></textarea>
        <input type="reset" value="清空内容" class="reset">
        <input type="submit" value="打开" class="open">
    </form>
</header>

