html, body, .XM {
  height: 100%; }

a {
  color: #59BB4B;
  text-decoration: none; }

body {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0; }

.header {
  padding: 20px 0;
  text-align: center; }
  .header__title {
    font-size: 26px;
    font-weight: 400;
    position: relative; }
    .header__title:before, .header__title:after {
      content: '';
      height: 1px;
      position: absolute;
      width: 50px;
      top: 50%;
      background-color: #B7B7B7; }
    .header__title:before {
      left: 50%;
      margin-left: -110px; }
    .header__title:after {
      right: 50%;
      margin-right: -110px; }

.dialog {
  position: fixed;
  width: 300px;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 1002; }
  .dialog__back {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    left: 0;
    top: 0; }
  .dialog__header {
    text-align: center;
    padding: 10px 0; }
  .dialog__content {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 10px 20px; }
    .dialog__content p {
      margin-top: 10px; }
      .dialog__content p:first-child {
        margin-top: 0; }
  .dialog__button {
    width: 50%;
    border-right: 1px solid #ececec;
    display: inline-block;
    box-sizing: border-box;
    color: RGBA(49, 141, 200, 1);
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .dialog__button:last-child {
      border-right: none; }

.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C; }
  .toolbar--top {
    background-color: RGBA(28, 28, 28, 0.6);
    top: 0;
    bottom: auto;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff; }
  .toolbar ul {
    list-style: none;
    border-top: 1px solid #444; }
    .toolbar ul li {
      float: left;
      width: 33.333%;
      text-align: center;
      box-sizing: border-box;
      position: relative; }
      .toolbar ul li:after {
        height: 50%;
        width: 1px;
        content: "";
        position: absolute;
        right: 0;
        top: 25%;
        background-color: #444; }
      .toolbar ul li:last-child:after {
        background-color: transparent; }
      .toolbar ul li a {
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: block;
        color: #fff; }

.step {
  background-color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  box-sizing: border-box; }
  .step__title {
    color: #333;
    font-size: 12px; }
    .step__title.active {
      color: #59BB4B; }
  .step__icon {
    width: 30px;
    height: 16px;
    margin-bottom: -2px; }

.message {
  background-color: #fff;
  padding: 20px; }
  .message__title {
    color: #F7B633;
    line-height: 50px;
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px; }
    .message__title span {
      font-size: 26px; }
  .message__icon {
    float: left;
    margin-right: 20px;
    width: 50px;
    height: 50px; }
  .message__content {
    width: 280px;
    margin: auto;
    text-align: center; }

.form__link {
  font-size: 16px;
  color: #444;
  padding: 5px; }
.form .input {
  position: relative;
  padding: 0 10px;
  
  margin-top: 20px; }
  .form .input textarea, .form .input input {
    border: 1px solid #ececec;
    line-height: 30px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px #999, inset -1px -1px 1px #999;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    outline: none; }
  .form .input textarea {
    min-height: 200px; }
  .form .input input {
    height: 50px; }
  .form .input--icon svg {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 30px;
    height: 30px; }
  .form .input--icon input {
    padding-left: 50px; }
  .form .input .file {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    padding: 0; }
  .form .input label {
    font-size: 18px;
    margin-bottom: 15px;
    display: block; }
.form .help-block {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 16px; }
  .form .help-block__icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px; }
  .form .help-block span {
    color: red;
    font-size: 14px; }

.tab {
  text-align: center;
  padding: 20px 0;
  background-color: #fff; }
  .tab__button {
    background-color: #fff;
    color: #04BE02;
    border: 1px solid #04BE02;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: inline-block;
    padding: 0 30px; }
    .tab__button:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .tab__button:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .tab__button.active {
      background-color: #04BE02;
      color: #fff; }

#de_ad {
    position: fixed;
    width: 100%;
  height: 65px;
  line-height:65px;
  bottom: 65px;
  left: 0;
  color:#ffffff;
  text-align:center;
  background-color:#999;
}
.ad {
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #ececec;
  padding: 20px 10px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }
  .ad__text, .ad__logo {
    height: 100%;
    display: inline-block; }
  .ad__text {
    width: 100%;
    overflow: hidden;
    float: left;
    color: #fff; }
  .ad__phone {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -63px;
    right: 20px;
    line-height: 50px;
    text-align: center; }
    .ad__phone:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 19px;
      right: auto;
      top: 50px;
      bottom: -40px;
      border: 5px solid;
      border-color: #ececec transparent transparent #ececec; }
    .ad__phone:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 20px;
      right: auto;
      top: auto;
      bottom: -7px;
      border: 4px solid;
      border-color: #fff transparent transparent #fff; }
  .ad__logo {
    float: right;
    width: 20%;
    text-align: center; }

.list .item {
  background-color: #fff;
  margin-bottom: 10px; }
  .list .item__button {
    margin: 10px 10px 10px 0; }
  .list .item__header {
    padding: 10px;
    margin-bottom: 20px; }
  .list .item__content {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    word-break: break-all; }
  .list .item__text, .list .item__logo {
    height: 100%;
    display: inline-block; }
  .list .item__text {
    width: 100%;
    /*width: 70%;*/
    overflow: hidden;
    float: left;
    color: #fff; }
  .list .item__logo {
    float: right;
    width: 20%;
    text-align: center;
    overflow: hidden; }

.qrcode {
  text-align: center;
  padding: 20px;
  background-color: #fff; }
  .qrcode img {
    width: 100%; }

.cell__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; }
.cell__list {
  list-style: none;
  margin-top: 10px; }
  .cell__list li {
    font-size: 14px;
    color: #8c8c8c;
    line-height: 20px; }
.cell__form {
  margin-top: 0; }

.footer {
  padding-bottom: 20px; }

.label {
  width: 5em !important; }

.button_small {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 !important; }

.button_absolute_right {
  position: absolute !important;
  right: 20px;
  top: 10px; }

.footer__link {
  text-align: center;
  line-height: 50px; }
  .footer__link span {
    color: #ACACAD; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

#log {
  background-color: #00ffff;
  width: 100%;
  min-height: 50px; }


.swiper-container{
    height:248px;
}

/*# sourceMappingURL=XM.css.map */
